
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">ETL Onboarding</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Create Order<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/csv-order"
          routerLinkActive="active">CSV</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/sql-order"
          routerLinkActive="active">SQL</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/sharepoint-order"
          routerLinkActive="active">Sharepoint</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/custom-order"
          routerLinkActive="active">Custom</a>
        </div>
      </li>





      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/orders"
        routerLinkActive="active">Your Orders<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </links>
</mdb-navbar>

