<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="col-sm d-flex justify-content-center">
      <button class="btn-outline-primary btn-lg" routerLink="/form/sql-order"
      routerLinkActive="active">SQL</button>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <button class="btn-outline-primary btn-lg " routerLink="/form/csv-order"
      routerLinkActive="active">CSV</button>
    </div>
      <div class="col-sm d-flex justify-content-center">
        <button class="btn-outline-primary btn-lg " routerLink="/form/sharepoint-order"
        routerLinkActive="active">SHAREPOINT</button>
      </div>
      <div class="col-sm d-flex justify-content-center">
        <button class="btn-outline-primary btn-lg " routerLink="/form/custom-order"
        routerLinkActive="active"
        >CUSTOM</button>
      </div>
</div>
